<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "sk.datastream.taxi"
        versionCode = "432"
        version     = "1.4.32">
 
    <name>TAXI Driver test datastream</name>
  
    <description>
        TAXI Driver test datastream application
    </description>
 
    <author href="http://www.datastream.sk" email="info@datastream.sk">
        DataStream
    </author>
  <icon src="img/phoneicon.png" />
    
  <preference name="load-url-timeout" value="60000" />
  <preference name="phonegap-version" value="2.9.0" />
  <preference name="DisallowOverscroll" value="true" />

    <access origin="*" />
    
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
</widget>
